@theme {
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #ededed;
  --color-border: #d0d0d0;
  --color-border-subtle: #10182815;
  --color-accent: #2563eb;
  --color-focus-1: #c8d4ef91;
}
