@import "./colors.css";

@theme {
  /* Text Sizes */
  --text-badge: 12px;
  --text-card-category: 18px;
  --text-card-name: 24px;
  --text-card-desc: 16px;
  --text-card-footer: 12px;
  --text-extension: 8px;
  --card-footer-icon-size: calc(var(--text-card-footer) + 4px);

  /* Text Color */
  --text-color-primary: var(--color-text-primary);
  --text-color-secondary: var(--color-text-secondary);

  /* Borders */
  --border-card: 1px solid var(--color-border-subtle);
  --border-extension: 1px solid var(--color-border-subtle);

  /* Background Colors */
  --main-bg-color: var(--color-surface-secondary);
  --card-bg-color: var(--color-surface-primary);

  /* Image Sizes */
  --extension-channel-icon: 30px;

  /* Navbar */
  --navbar-height: 56px;
  --navbar-bg: var(--color-surface-primary);
  --navbar-border-color: var(--color-border);
  --navbar-z: 40;
  /* Sidebar */
  --sidebar-bg: var(--color-surface-primary);
  --sidebar-border-color: var(--color-border);
  --sidebar-focus-color: var(--color-focus-1);
  --sidebar-spacer-color: var(--color-border-subtle);
  /* Logo */
  --logo-color: var(--color-accent);
  /* Search */
  --navbar-search-max-width: 60rem;
  --navbar-search-bg: var(--color-surface-secondary);
  /* Spacing */
  --spacing-icon-text: 16px;
  --spacing-icon-text-small: 8px;
  /* Badge */
  --badge-bg-color-info: var(--color-dark);
  --badge-border-info: 1px solid var(--color-light);
  --badge-border-radius: 4px;
  --badge-text-color-info: var(--color-light);
  --badge-icon-color-info: var(--color-light);
  /* Collection Card*/
  --card-border-radius: 8px;
  --card-min-width: 300px;
  --card-bg-color: var(--color-surface-primary);
}
